<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{application.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
</head>
<body>
<div id="content">
    <div id="title">
        <div id="menuButton" >
            <a th:href="@{/settings}" ><img src="/img/Menu_m.png"/> </a>
        </div>
        <h1 th:text="#{todolist.title}"></h1>
    </div>
    <div id="rightButtons" class="rightButtons">
        <div id="addTaskButton" class="actionButton">
            <a href="/editTask/" th:text="#{todolist.addTask}"></a>
        </div>
    </div>

    <div class="row" th:each="task: ${tasks}">
        <div class="longLabel" >
            <div class="atLeft" th:text="${task.name}"></div>
            <div class="atRight">
                <a th:href="@{/deleteTask/{id}(id=${task.id})}" ><img src="/img/Delete_s.png"/> </a>
            </div>
            <div class="atRight" >
                <a th:href="@{/editTask/{id}(id=${task.id})}" ><img src="/img/Edit_s.png"/> </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>